*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1,h2,h3{
    opacity: 1;
}
body{
    font-family: 'IBM Plex Serif', serif;    
}
header{
    color: white;
    position: fixed;
    width: 100%;
    z-index: 80;
}
header.open,
header:hover {
    background-color: #3d405b;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}


header ul{
    list-style: none;
}
header a{
    color: white;
    text-decoration: none;
}

header #logo{
    padding: 20px;
    font-size: 1.7em;
    font-weight:600;
    display: inline-block;
    margin-top: 10px;
    width: 70%;
}
#nav-toggle{
    display: inline-block;
    width: 25%;
    font-size: 1.7em;
    margin-top: 10px;
    text-align: center; 
}
header i{
    padding:15px 25px;
     background-color:rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}
nav li{
    display: block;
    padding: 20px 20px;

}
nav{
    width: 400px;
    position: absolute;
    background-color: #3d405b;
    min-height: 100vh;
    transform: translateX(-400px);
    transition:transform 0.4s;
    z-index: 99;
}

header.toggled nav{
    transform: translateX(0px);
}

header.scrolled {
        background-color: #3d405b;
}

header a:hover{
   opacity: 1;
}

#intro{
background-image: linear-gradient(rgba(61,64,91,0.8),rgba(61,64,91,0.5)),url(new.jpg);
    min-height: 680px;
    background-size: cover;
    background-attachment:fixed;
    background-position: left;
}

#intro .container{
    position:relative;
    top:200px;
    text-align: center;
    max-width: 1000px;
    color: white;
    font-size: 1.2em;
    margin: 0px auto;
}

.intro-text strong,.intro-text em{
    display: block;
    margin: auto;
    color: #e07a5f;
    font-weight: 1000;
    font-size: 1.1em;
    transition: all 2s;
}

.intro-text h1{
    transition: all 2s;
}

#intro .call-to-action a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    background-color: #3d405b;
    margin: 30px;
}

#intro i{
    margin-right: 7px;
}




#about-me{
    padding: 10px;
    background-image: linear-gradient(rgba(61,64,91,0.5),rgba(61,64,91,0.2)),url(b3.jpg);
    background-size: cover;
    padding-top: 30px;
    color: white;
    padding-bottom: 30px;
    background-attachment: fixed;

}

#about-me .whoiamimg{
    margin: 10px auto 20px auto;
    width: 70%;
}


.whoiamtext{
text-align: center;
margin: 10px auto 30px auto;
    font-size: 1.1em;
}

.whoiamtext h1{
    font-weight: bold;
    font-size: 1.8em;
}

.whoiamtext p{
    margin: 15px;
}


#services{
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 40px;
}

#services h1{
    padding: 20px;
    font-size: 1.8em;
}

#services .icon{
 
    margin:80px 50px 10px;

    font-size: 2.5em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    transform: rotate(45deg);
    min-height: 100px;
    min-width: 100px;
    transition: all 0.4s;
    outline: 5px solid transparent;
    outline-offset: 0px
}


.icon svg {
transform: rotate(-45deg);
}


#services .service:hover .icon{
    background-color: #e07a5f;
    outline-offset: 5px;
    outline: 5px solid #e07a5f;
}

#history{
    background-color: #e07a5f;
    color: white;
    padding-bottom: 30px;
}

#history h1{
    text-align: center;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    font-size: 2em;
}

.history-icon{
    display: inline-block;
    margin-right: 10px;
    padding: 10px 0px 10px 0px;
}
.history-title{
    display: inline-block;
    padding: 10px 10px 10px 0px;;
}

.history{
    padding: 10px;
}

.event-date,.event-title,.event-desc,.event-result{
    padding: 10px 50px;
}

.event-date{
    font-style: italic;
    opacity: 0.8;
    
}
.event-title{
    font-size: 1.2em;
    font-weight: bold;
}
.event-result{
    font-style: italic;
    font-size: 1.05em;
}

#history .call-to-action{
    
    text-align: center;
    background-color: #3d405b;
    width: 70%;
    margin: 30px  auto;
}

#history a{
    color: white;
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.1em;
}

#mrg{
   margin-left: 10px; 
}

.event-container{
    position: relative;
}
 .event-container::before{
    content:'';
    display: block;
    width: 25px;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    position: absolute;

}

.event-date{
    position: relative;
}

.event-date::before{
    content:'';
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: #3d405b;
    position: absolute;
    left: 0px;
      
}
.history-title{
    font-size: 1.2em;
}

.history-icon{
    color: #3d405b;
    font-size: 1.3em;
    
}

#skills{
    color: white;
    background-image: linear-gradient(rgba(61,64,91,0.8),rgba(61,64,91,0.5)),url(InShot_20190613_181017696.jpg);
    background-size: cover;
    padding: 20px;
    padding-bottom: 50px;
    background-position:top;
}

#skills h1{

    padding: 20px;
    text-align: center;
}


.skill-container{
    padding:10px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    
}

.skill{
    padding: 10px;
    position: relative;
    font-size: 1.4em;
    margin: 20px 0px;

}


.skill-icon svg{
    
    height: 140px;
    fill:none;
    stroke:#e07a5f;
    stroke-width:5px;
    stroke-dasharray:251 251; 
    opacity: 1;
    
    
}
.skill-icon.one svg{
   stroke-dashoffset : 70;
}

.skill-icon.two svg{
   stroke-dashoffset : 30;
}

.skill-icon.three svg{
   stroke-dashoffset : 45;
}

.skill-icon.four svg{
   stroke-dashoffset : 50;
}

.skill-rating{
    font-size: 1.2em;
    position: relative;
    top: -95px;
}

.skill-title{
    padding: 10px 10px 0px 10px;  
    font-size: 1.3em;
}
.tech-skills h1{
margin-bottom: 20px;
}

.tech-skills{
    text-align: center''
padding: 10px;
max-width: 1000px;
    margin: auto;
    
}
.tech-skill{
    text-align: center;
    font-size: 1.4em;
    margin: 70px 0px;
    
}

.techtitle{
    padding: 10px;
}

/*
.techicon::before{
    position: relative;
    content: '';
    display: block;
    height: 15px;
    width: 80%;
    background-color:#e07a5f; 
}
*/

.techicon{
    min-height: 25px;
    min-width: 100%;
    background-color:#3d405b;
    position: relative;
}

.techicon.one::before{
    position: relative;
    content: '';
    display: block;
    height: 25px;
    width: 90%;
    background-color:#e07a5f; 
}

.techicon.two::before{
    position: relative;
    content: '';
    display: block;
    height: 25px;
    width: 85%;
    background-color:#e07a5f; 
}
.techicon.three::before{
    position: relative;
    content: '';
    display: block;
    height: 25px;
    width: 60%;
    background-color:#e07a5f; 
}
.techicon.four::before{
    position: relative;
    content: '';
    display: block;
    height: 25px;
    width: 60%;
    background-color:#e07a5f; 
}

#get-in-touch{
    background-color: #3d405b;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 30px 0px;
}
.touch-icon{
    padding: 20px;
    font-size: 2em;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    transform: rotate(45deg);
    margin: 50px;
    height: 100px;
    width: 100px;
    outline: 4px transparent #e07a5f;
    transition: all 0.4s;
}

.touch-icon svg{
    transform: rotate(-45deg);
}

.touch:hover .touch-icon{
    background-color: #e07a5f;
    outline: 5px solid #e07a5f;
    outline-offset: 5px;
     
}


#contact{
    background-color: #dddddd;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    min-height: 200px;
}

#contact h1{
    color: #3d405b;
}

#contact .container{
    max-width: 1000px;
    margin: auto;
}

#contact form{
background-color: white;
text-align: center;
padding: 10px;
margin: 20px auto;
width: 100%;

}
#contact input{
    display: block;
    margin: 30px  auto;
    width: 80%;
    padding: 15px;
    background-color:#dddddd;
    border: none;
    
}

#contact textarea{
    display: block;
    margin: 30px  auto;
    width: 80%;
    padding: 15px;
    background-color:#dddddd;
    border: none;
    height: 100px;
    
}

#conatct .call-to-action{
    
}

#contact button{
    padding: 20px;
    margin: 10px;
    background-color: #e07a5f;
    color: white;
    font-size: 0.7em;
    border: none;
    transition: all 0.4s;
}

button:hover{
    cursor: pointer;
}



#map{

}

footer{
    background-color: #3d405b;
    color: white;
    text-align: center;
    min-height: 200px;
}

footer .link a{
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    
}
footer .link{
    text-align: center;
    margin :20px;
    display: inline-block;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    min-height: 70px ;
    min-width: 70px;
    border-radius: 50%;
}
footer p{
    display: inline-block;
    padding: 20px;
    font-size: 1.1em;
}

img{
width: 100%;
}

@media screen and (min-width:1000px){
    
    header{
        text-align: center;
        min-height: 100px;
    }
    
    #logo{
        display: inline-block;
        width: 20%;
        max-width: 300px;
        margin-left: 20px;
    }
    #nav-toggle{
        
        display: none;
            
    }
    
    nav{
        position: relative;
        display: inline-block;
        transform: translateX(0px);
        min-height: 0px;
        min-width: 70%;
        margin: 0px auto;
        background: none;
        
    }
    nav li{
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
            
    }
    #intro{
        min-height: 900px;
        background-position: top;
        background-image: linear-gradient(rgba(61,64,91,0.7),rgba(61,64,91,0.6)),url(new.jpg);
        margin: 0px;
        
    }
    #intro .container{
        top :300px;
    }
    
    .intro-text{
        font-size: 1.5em;
        opacity: 1;
    }
    
    #intro .call-to-action{
        
        padding: 20px;
        font-size: 1.2em;
        
    }
    
    #about-me{
        margin: 0px;
        background-position: left;
        background-image: linear-gradient(rgba(61,64,91,0.7),rgba(61,64,91,0.4)),url(b3.jpg);
    }
    
    .whoiamimg{
        max-width: 600px;

    }
    .whoiamtext{
        max-width: 800px;
        font-size: 1.4em;
        opacity: 1;
        
    }
    
    #services{
        max-width:1300px;
        margin:50px auto;
        text-align: center;
    }
    
    .service{
        display: inline-block;
        width: 40%;
        margin: 60px;
        font-size: 1.3em;
    }
    #services h1:first-child{
        font-size: 2.3em;
        
    }
    
    .service .icon{
        height: 150px;
        width: 150px;
        text-align: center;
        padding: 0px;
        margin: 30px;
    }
    
    .service .icon svg{
        font-size: 1.6em;
        
        
    }
    #services .service:hover .icon{
    background-color: #e07a5f;
    outline-offset: 10px;
    outline: 5px solid #e07a5f;
}

    .service h1{
        margin-top: 20px;
    }

    #history{
        
        font-size: 1.3em;
    }
    
    .history-container{
        
        position: relative;
        padding: 0px;
        max-width: 1400px;
        margin: auto;
    }
    
    .history.education{
        
        display: inline-block;
        float: left;
        width: 50%;
    }
    
    .history.work-history{
     float: right;
        width: 50%;
        
    }    
    
    #history .call-to-action{
        clear: both;
        margin: 60px auto;
        max-width: 300px
        
    }
    
#history .for_psuedo::after{
        content: '';
        display: block;
        clear: both;
        
    }
    
    #history h1{
        padding-left: 0px;
        padding-top: 30px;
    }
    
    #skills{
    font-size: 1.3em;
    
    }

    .skill-container{
        max-width: 1200px;
        
    }
    
    .skill{
        display: inline-block;
        width: 30%;
        
    }
    .tech-skill{
        display: inline-block;
        width: 30%;
    }
    
    .tech-skills{
        max-width: 1200px;
        text-align: center;
    }
    
    .tech-skill:last-child{
        margin-top: 0px;
    }
    
    #get-in-touch{
        font-size: 1.5em;
        min-height: 500px;
        text-align: center;

    }
    
    .touch-icon{
        height: 150px;
        width: 150px;
        font-size: 3em;
    }
    
    .touch{
        display: inline-block;
        width: 30%;
        padding-top: 30px;
    }

    #contact{
        font-size: 1.2em;
        min-height: 600px;
        padding-top: 50px;
    }

    #contact .container{
        max-width: 800px;
         
    }
    form{
        min-height: 450px;
        
    }
    
    footer{
        min-height: 250px;
        padding: 80px;
        font-size: 1.5em;
    }
    .link{
        height: 100px;
        width: 100px;
    }
    
}



